<nav data-cy="navbar" class="navbar navbar-dark navbar-expand-md bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()">
      <span class="logo-img"></span>
      <span class="navbar-title" jhiTranslate="global.title">Orchestratorgateway</span>
      <span class="navbar-version">{{ version }}</span>
    </a>
    <a
      class="navbar-toggler d-lg-none"
      href="javascript:void(0);"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="isNavbarCollapsed.update(isNavbarCollapsed => !isNavbarCollapsed)"
    >
      <fa-icon icon="bars" />
    </a>
    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed()">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
            <span>
              <fa-icon icon="home" />
              <span jhiTranslate="global.menu.home">Home</span>
            </span>
          </a>
        </li>
        <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
        <!-- cassandrablog Service Menu -->
        @if (account() !== null && cassandrablogEntityNavbarItems().length > 0) {
          <li
            ngbDropdown
            class="nav-item dropdown pointer"
            display="static"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a
              class="nav-link dropdown-toggle"
              ngbDropdownToggle
              href="javascript:void(0);"
              id="cassandrablog-menu"
              data-cy="cassandrablogMenu"
            >
              <span>
                <fa-icon icon="th-list" />
                <span>cassandrablog</span>
              </span>
            </a>
            <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="cassandrablog-menu">
              @for (entityNavbarItem of cassandrablogEntityNavbarItems(); track $index) {
                <li>
                  <a
                    class="dropdown-item"
                    [routerLink]="entityNavbarItem.route"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    (click)="collapseNavbar()"
                  >
                    <fa-icon icon="asterisk" [fixedWidth]="true" />
                    <span [jhiTranslate]="entityNavbarItem.translationKey">{{ entityNavbarItem.name }}</span>
                  </a>
                </li>
              }
            </ul>
          </li>
        }
        <!-- cassandrastore Service Menu -->
        @if (account() !== null && cassandrastoreEntityNavbarItems().length > 0) {
          <li
            ngbDropdown
            class="nav-item dropdown pointer"
            display="static"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a
              class="nav-link dropdown-toggle"
              ngbDropdownToggle
              href="javascript:void(0);"
              id="cassandrastore-menu"
              data-cy="cassandrastoreMenu"
            >
              <span>
                <fa-icon icon="th-list" />
                <span>cassandrastore</span>
              </span>
            </a>
            <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="cassandrastore-menu">
              @for (entityNavbarItem of cassandrastoreEntityNavbarItems(); track $index) {
                <li>
                  <a
                    class="dropdown-item"
                    [routerLink]="entityNavbarItem.route"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    (click)="collapseNavbar()"
                  >
                    <fa-icon icon="asterisk" [fixedWidth]="true" />
                    <span [jhiTranslate]="entityNavbarItem.translationKey">{{ entityNavbarItem.name }}</span>
                  </a>
                </li>
              }
            </ul>
          </li>
        }
        <!-- psqlblog Service Menu -->
        @if (account() !== null && psqlblogEntityNavbarItems().length > 0) {
          <li
            ngbDropdown
            class="nav-item dropdown pointer"
            display="static"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="psqlblog-menu" data-cy="psqlblogMenu">
              <span>
                <fa-icon icon="th-list" />
                <span>psqlblog</span>
              </span>
            </a>
            <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="psqlblog-menu">
              @for (entityNavbarItem of psqlblogEntityNavbarItems(); track $index) {
                <li>
                  <a
                    class="dropdown-item"
                    [routerLink]="entityNavbarItem.route"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    (click)="collapseNavbar()"
                  >
                    <fa-icon icon="asterisk" [fixedWidth]="true" />
                    <span [jhiTranslate]="entityNavbarItem.translationKey">{{ entityNavbarItem.name }}</span>
                  </a>
                </li>
              }
            </ul>
          </li>
        }
        <!-- psqlstore Service Menu -->
        @if (account() !== null && psqlstoreEntityNavbarItems().length > 0) {
          <li
            ngbDropdown
            class="nav-item dropdown pointer"
            display="static"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="psqlstore-menu" data-cy="psqlstoreMenu">
              <span>
                <fa-icon icon="th-list" />
                <span>psqlstore</span>
              </span>
            </a>
            <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="psqlstore-menu">
              @for (entityNavbarItem of psqlstoreEntityNavbarItems(); track $index) {
                <li>
                  <a
                    class="dropdown-item"
                    [routerLink]="entityNavbarItem.route"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    (click)="collapseNavbar()"
                  >
                    <fa-icon icon="asterisk" [fixedWidth]="true" />
                    <span [jhiTranslate]="entityNavbarItem.translationKey">{{ entityNavbarItem.name }}</span>
                  </a>
                </li>
              }
            </ul>
          </li>
        }
        <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
        <li
          *jhiHasAnyAuthority="'ROLE_ADMIN'"
          ngbDropdown
          class="nav-item dropdown pointer"
          display="static"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          data-cy="adminMenu"
        >
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu">
            <span>
              <fa-icon icon="users-cog" />
              <span jhiTranslate="global.menu.admin.main">Administration</span>
            </span>
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="admin-menu">
            <li>
              <a
                class="dropdown-item"
                routerLink="/authority"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true" />
                <span jhiTranslate="global.menu.entities.adminAuthority">Authority</span>
              </a>
            </li>
            <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
            <li>
              <a class="dropdown-item" routerLink="/admin/gateway" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="road" [fixedWidth]="true" />
                <span jhiTranslate="global.menu.admin.gateway">Gateway</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/admin/metrics" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="tachometer-alt" [fixedWidth]="true" />
                <span jhiTranslate="global.menu.admin.metrics">Metrics</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/admin/health" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="heart" [fixedWidth]="true" />
                <span jhiTranslate="global.menu.admin.health">Health</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/admin/configuration" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="cogs" [fixedWidth]="true" />
                <span jhiTranslate="global.menu.admin.configuration">Configuration</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/admin/logs" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="tasks" [fixedWidth]="true" />
                <span jhiTranslate="global.menu.admin.logs">Logs</span>
              </a>
            </li>
            @if (openAPIEnabled()) {
              <li>
                <a class="dropdown-item" routerLink="/admin/docs" routerLinkActive="active" (click)="collapseNavbar()">
                  <fa-icon icon="book" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.admin.apidocs">API</span>
                </a>
              </li>
            }
          </ul>
        </li>
        @if (languages && languages.length > 1) {
          <li ngbDropdown class="nav-item dropdown pointer" display="static">
            <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="languagesnavBarDropdown">
              <span>
                <fa-icon icon="flag" />
                <span jhiTranslate="global.menu.language">Language</span>
              </span>
            </a>
            <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="languagesnavBarDropdown">
              @for (language of languages; track $index) {
                <li>
                  <a
                    class="dropdown-item"
                    [jhiActiveMenu]="language"
                    href="javascript:void(0);"
                    (click)="changeLanguage(language); collapseNavbar()"
                    >{{ language | findLanguageFromKey }}</a
                  >
                </li>
              }
            </ul>
          </li>
        }
        <li
          ngbDropdown
          class="nav-item dropdown pointer"
          display="static"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          data-cy="accountMenu"
        >
          @let accountRef = account();
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu">
            @if (!accountRef?.imageUrl) {
              <span>
                <fa-icon icon="user" />
                <span jhiTranslate="global.menu.account.main">Account</span>
              </span>
            } @else {
              <span>
                <img [src]="accountRef!.imageUrl" class="profile-image rounded-circle" alt="Avatar" />
              </span>
            }
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="account-menu">
            @if (accountRef !== null) {
              <li>
                <a class="dropdown-item" (click)="logout()" id="logout" data-cy="logout">
                  <fa-icon icon="sign-out-alt" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.account.logout">Sign out</span>
                </a>
              </li>
            } @else {
              <li>
                <a class="dropdown-item" (click)="login()" id="login" data-cy="login">
                  <fa-icon icon="sign-in-alt" [fixedWidth]="true" />
                  <span jhiTranslate="global.menu.account.login">Sign in</span>
                </a>
              </li>
            }
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
